.register {
    width: 300px;
    margin: 50px auto;
    padding: 20px;
}

.register form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.register form input {
    margin-bottom: 30px;
    font-size: 20px;
    padding: 5px;
    width: 100%;
}

.register form label {
    font-size: 20px;
}
.register p {
    text-align: center;
    font-size: 18px;
}
.register a {
    color: rgb(75, 135, 214);
    text-decoration: underline;
}
.fileInput {
    font-size: 18px !important;
}

@media screen and (max-width: 370px) {
    .register {
        width: 85%;
    }
    .fileInput {
        font-size: 16px !important;
    }
}